nav {
    position: fixed;
    background:  #130f10;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 500;
}
html {
    background: #07080a;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: orange;
}
img {
    height: 100%;
    object-fit: cover;
}
li {
    float: left;
    width: 50px;
    margin: 10px;
    font-size: 20px;
}
ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    position: absolute;
    top: 50px;
    right: 200px;
}
div {
    align-items: center;
    
}
p {
    color: white;
}
h1 {
    color: white;

}
#achtergrondS {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 300px;
    z-index: -1;

}
#hoofdTextS {
    top: 200px;
    position: absolute;
    height: 350px;
    left: 15%;
    z-index: 0;
}
#textS {
    top: 1050px;
    position: absolute;
    left: 15%;
    right: 15%;
}
#jack {
    top: 1500px;
    position: absolute;
    width: 600px;
    left: 8%;
    height: 600px;
}
#text2S {
    top: 1500px;
    position: absolute;
    left: 50%;
    right: 15%;
}


